body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /*centers sketch vertically*/
  align-items: center;
  /*flex-grow, flex-shrink, flex not used*/
  align-content: space-around;
}
